<div class="container-fluid">
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="form-group">
    <%= f.label :travel_notes%>
    <%= f.text_area :travel_notes %>
  </div>
  <div class="form-group">
    <%= f.label :dietary_notes%>
    <%= f.text_area :dietary_notes %>
  </div>
  <div class="form-group">
    <%= f.label :hotel_notes%>
    <%= f.text_area :hotel_notes %>
  </div>
  <div class="form-group">
    <%= f.label :general_notes%>
    <%= f.text_area :general_notes %>
  </div>
</div>
