<div class="container-fluid guest-index">
  <div class="col-sm-4 tablist-col">

    <input id="guestSearch" name="search" placeholder="Search" type="text" data-list="#guestTabs">
    <%= link_to "Add Guest", new_guest_path %>
    <ul class="nav nav-stacked nav-pills nav-tabs" role="tablist" id="guestTabs">
      <% @guests.each do |guest| %>
        <li>
          <a href="#guest<%= guest.id %>">
            <span class="guest-avatar badge"><%= guest.initials %></span>
            <%= guest.full_name %>
          </a>
        </li>
      <% end %>
    </ul>

    <% if @guests.empty? %>
      <h3>No guests added</h3>
    <% end %>
  </div>


  <div class="col-sm-8">
    <div class="tab-content">
      <% @guests.each do |guest| %>
        <div role="tabpanel" class="tab-pane" id="guest<%= guest.id %>">
          <%= render "show", guest: guest %>
        </div>
      <% end %>
    </div>
  </div>

  <% content_for :dom_ready do %>
    $('#guestTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    $('#guestTabs a:first').tab('show') // Select first tab

    $('#guestTabs').stickyTabs();
    $('#guestSearch').hideseek({
      list: '#guestTabs'
    });
  <% end %>
</div>
